
            table{
                color:white;
                background-color: rgba(0, 0, 0, 0.493);
            }
            #b{
                background-image: url("pasview.png");
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
                backdrop-filter: blur(5px);

            }


